# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Back-end/node_modules
Front-end/node_modules
/.pnp
.pnp.js

# temporary files
# Back-end/raw
# Back-end/result

# testing
/coverage

# production
/build

# misc
Back-end/.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IntelliJ project files
.idea
*.iml
out
gen

# Others
Back-end/sim_3_0_2
